In [4]:
import psycopg2
import pandas as pd 

# Define the connection parameters
connection_params = {
    "host": "localhost",
    "database": "dvdrental",
    "user": "postgres",
    "password": "19881114$",
    "port": "5432"
}

# Establish a database connection
try:
    connection = psycopg2.connect(**connection_params)
    print("Connection to dvdrental database successful")

    # Create a cursor object
    cursor = connection.cursor()

    # Define a sample query to test the connection
    query = "SELECT * FROM film LIMIT 5;"

    # Execute the query
    cursor.execute(query)

    # Fetch the results
    results = cursor.fetchall()

    # Print the results
    for row in results:
        print(row)

    # Close the cursor and connection
    cursor.close()
    connection.close()

except Exception as error:
    print(f"Error: {error}")

Connection to dvdrental database successful
(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5")
(384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2")
(8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5")
(98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5")
(1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")

In [8]:
SELECT DISTINCT name
FROM category
ORDER BY name

SyntaxError: invalid syntax (3418127304.py, line 1)

In [6]:
SELECT title, film.length, category.name 
FROM film
JOIN film_category
ON film_category.film_id = film.film_id
JOIN category
ON film_category.category_id = category.category_id
WHERE film.length BETWEEN 70 AND 100 
OR category.name = 'Horror'
ORDER BY film.length;

SyntaxError: invalid syntax (1908439706.py, line 1)

In [7]:
-- Query to select films with length between 70 and 100 or category 'Horror'
SELECT title, length, name
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
WHERE length BETWEEN 70 AND 100
   OR name = 'Horror'
ORDER BY length;

-- Query to get the count of rentals for each film
EXPLAIN ANALYZE
SELECT
    film.title,
    (SELECT COUNT(*)
     FROM rental
     JOIN inventory ON rental.inventory_id = inventory.inventory_id
     WHERE inventory.film_id = film.film_id) AS rental_count
FROM film
ORDER BY rental_count DESC;

SyntaxError: invalid syntax (1595290985.py, line 1)

In [ ]:
-- Query to select films with length between 70 and 100 or category 'Horror'
# SELECT title, length, name
# FROM film
# JOIN film_category ON film.film_id = film_category.film_id
# JOIN category ON film_category.category_id = category.category_id
# WHERE length BETWEEN 70 AND 100
#    OR name = 'Horror'
# ORDER BY length;