In [ ]:
# write code for european database soccer datasets using sqlalchemy
# 1. Create a database called soccer
# 2. Create a table called players with the following columns:
#    - id (int, primary key)
#    - name (string)
#    - age
#    - position (string)
# 3. Create a table called teams with the following columns:
#    - id (int, primary key)
#    - name (string)
#    - city (string)
#    - country (string)
# 4. Create a table called player_teams with the following columns:
#    - id (int, primary key)
#    - player_id (int, foreign key to players.id)
#    - team_id (int, foreign key to teams.id)
#    - start_date (date)
#    - end_date (date)
# 5. Insert the following data into the tables:
#    - players: (1, 'Cristiano Ronaldo', 35, 'forward'),
#               (2, 'Lionel Messi', 33, 'forward'),
#               (3, 'Robert Lewandowski', 32, 'forward'),
#               (4, 'Kevin De Bruyne', 29, 'midfielder'),
#               (5, 'Neymar Jr.', 28, 'forward'),
#               (6, 'Mohamed Salah', 28, 'forward'),
#               (7, 'Sadio Mane', 28, 'forward'),
#               (8, 'Virgil van Dijk', 29, 'defender')
#    - teams: (1, 'Juventus', 'Turin', 'Italy'),
#             (2, 'Barcelona', 'Barcelona', 'Spain'),
#             (3, 'Bayern Munich', 'Munich', 'Germany'),
#             (4, 'Manchester City', 'Manchester', 'England'),
#             (5, 'Paris Saint-Germain', 'Paris', 'France'),
#             (6, 'Liverpool', 'Liverpool', 'England')
#    - player_teams: (1, 1, 1, '2018-07-10', '2022-07-10'),
#                    (2, 2, 2, '2004-07-01', '2021-06-30'),
#                    (3, 3, 3, '2014-07-01', '2023-06-30'),
#                    (4, 4, 4, '2015-08-30', '2023-06-30'),
#                    (5, 5, 5, '2017-08-03', '2022-08-03'),
#                    (6, 6, 6, '2017-06-22', '2023-06-30'),
#                    (7, 7, 6, '2016-06-28', '2023-06-30'),
#                    (8, 8, 6, '2018-01-01', '2023-06-30')
# 6. Query the database to get the following information:
#    - List of all players
#    - List of all teams
#    - List of all players who play for Liverpool
#    - List of all players who play in England
#    - List of all players who play in England and are forwards
#    - List of all players who play in England and are forwards and are under 30
#    - List of all players who play in England and are forwards and are under 30 and play for Liverpool
#    - List of all players who play in England and are forwards and are under 30 and play for Liverpool or Barcelona
#    - List of all players who play in England and are forwards and are under 30 and play for Liverpool or Barcelona and their age
#    - List of all players who play in England and are forwards and are under 30 and play for Liverpool or Barcelona and their age and position
#    - List of all players who play in England and are forwards and are under 30 and play for Liverpool or Barcelona and their age and position and team name